packages/presence/Node-RED-Flow/Node-RED-Flow
[{"id":"5ab71b94.071854","type":"tab","label":"Presence","disabled":false,"info":""},{"id":"cb6dbd66.3a4","type":"inject","z":"5ab71b94.071854","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["d7443a02.00bac8","caa675b5.d99118"]]},{"id":"d7443a02.00bac8","type":"api-current-state","z":"5ab71b94.071854","name":"Bayesian Presence","server":"ab8152ca.a9873","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.davy_presence","x":350,"y":220,"wires":[["1cdd4536.87395b"]]},{"id":"1cdd4536.87395b","type":"switch","z":"5ab71b94.071854","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":220,"wires":[["62eb8134.31dca"],["5e5d4666.cfd958"]]},{"id":"62eb8134.31dca","type":"api-call-service","z":"5ab71b94.071854","name":"Set Presence Home","server":"ab8152ca.a9873","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"davy_bayesian\",\"location_name\":\"home\"}","mergecontext":"","x":760,"y":200,"wires":[[]]},{"id":"5e5d4666.cfd958","type":"api-call-service","z":"5ab71b94.071854","name":"Set Presence Away","server":"ab8152ca.a9873","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"davy_bayesian\",\"location_name\":\"away\"}","mergecontext":"","x":750,"y":260,"wires":[[]]},{"id":"28d20db3.e0c692","type":"comment","z":"5ab71b94.071854","name":"Convert Sensors into Device Tracker","info":"","x":200,"y":60,"wires":[]},{"id":"1cb31869.b9ebe8","type":"comment","z":"5ab71b94.071854","name":"Create Node Red Device Tracker","info":"","x":190,"y":320,"wires":[]},{"id":"86b56618.a636d8","type":"api-call-service","z":"5ab71b94.071854","name":"Node Red Presence not_home","server":"ab8152ca.a9873","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"davy_nodered\",\"location_name\":\"not_home\"}","mergecontext":"","x":850,"y":540,"wires":[[]]},{"id":"11a557e4.52a388","type":"api-call-service","z":"5ab71b94.071854","name":"Node Red Presence home","server":"ab8152ca.a9873","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"davy_nodered\",\"location_name\":\"home\"}","mergecontext":"","x":840,"y":440,"wires":[[]]},{"id":"63d84abf.3fc8c4","type":"function","z":"5ab71b94.071854","name":"GPS","func":"newmsg = {};\nnewmsg.payload = { data: {'gps': [msg.location.lat,msg.location.lon] } };\nreturn newmsg;","outputs":1,"noerr":0,"x":630,"y":460,"wires":[["11a557e4.52a388"]]},{"id":"e6ace1aa.edab7","type":"function","z":"5ab71b94.071854","name":"GPS","func":"newmsg = {};\nnewmsg.payload = { data: {'gps': [msg.location.lat,msg.location.lon] } };\nreturn newmsg;","outputs":1,"noerr":0,"x":630,"y":520,"wires":[["86b56618.a636d8"]]},{"id":"e1597124.c5633","type":"comment","z":"5ab71b94.071854","name":"Home or Not?","info":"","x":410,"y":500,"wires":[]},{"id":"d3f14ab8.6983e8","type":"server-state-changed","z":"5ab71b94.071854","name":"HASS IOS","server":"ab8152ca.a9873","entityidfilter":"device_tracker.glerums_iphone","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","x":140,"y":440,"wires":[["7434a6ed.6e0c48"]]},{"id":"b112cac5.3374c8","type":"rbe","z":"5ab71b94.071854","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":130,"y":640,"wires":[["92b712b4.31fc3"]]},{"id":"d7dfe541.9b8888","type":"server-state-changed","z":"5ab71b94.071854","name":"Tile Keys","server":"ab8152ca.a9873","entityidfilter":"device_tracker.tile_work_keys","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","x":120,"y":500,"wires":[["e4116661.a85978"]]},{"id":"e4116661.a85978","type":"function","z":"5ab71b94.071854","name":"GPS","func":"newmsg = {};\nnewmsg = { location: {'lat': msg.data.new_state.attributes.latitude, 'lon': msg.data.new_state.attributes.longitude }};\nreturn newmsg;","outputs":1,"noerr":0,"x":110,"y":580,"wires":[["b112cac5.3374c8","46c61923.472ce8"]]},{"id":"92b712b4.31fc3","type":"geofence","z":"5ab71b94.071854","name":"Outside of Home Zone","mode":"polyline","inside":"false","rad":0,"points":[{"latitude":51.10741228036279,"longitude":4.288439154624939},{"latitude":51.107676676730534,"longitude":4.288691282272339},{"latitude":51.10767330863346,"longitude":4.289211630821228},{"latitude":51.10727939746118,"longitude":4.289133595302701},{"latitude":51.10719014203831,"longitude":4.288728581741452}],"centre":{},"x":420,"y":560,"wires":[["e6ace1aa.edab7"]]},{"id":"7434a6ed.6e0c48","type":"function","z":"5ab71b94.071854","name":"GPS","func":"newmsg = {};\nnewmsg = { location: {'lat': msg.data.new_state.attributes.latitude, 'lon': msg.data.new_state.attributes.longitude }};\nreturn newmsg;","outputs":1,"noerr":0,"x":190,"y":380,"wires":[["92b712b4.31fc3","97fb97f.6c21c68"]]},{"id":"97fb97f.6c21c68","type":"geofence","z":"5ab71b94.071854","name":"Inside Home Zone","mode":"polyline","inside":"true","rad":0,"points":[{"latitude":51.10741228036279,"longitude":4.288439154624939},{"latitude":51.107676676730534,"longitude":4.288691282272339},{"latitude":51.10767330863346,"longitude":4.289211630821228},{"latitude":51.10727939746118,"longitude":4.289133595302701},{"latitude":51.10719014203831,"longitude":4.288728581741452}],"centre":{},"x":410,"y":420,"wires":[["63d84abf.3fc8c4","9f6f4648.a4b128"]]},{"id":"46c61923.472ce8","type":"debug","z":"5ab71b94.071854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":700,"wires":[]},{"id":"caa675b5.d99118","type":"api-current-state","z":"5ab71b94.071854","name":"Homekit Presence","server":"ab8152ca.a9873","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.davy_homekit_present","state_type":"str","x":370,"y":140,"wires":[["47416a7f.276104"]]},{"id":"47416a7f.276104","type":"switch","z":"5ab71b94.071854","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":140,"wires":[["d412bfb6.e0f7f"],["ea1f653e.dfd228"]]},{"id":"d412bfb6.e0f7f","type":"api-call-service","z":"5ab71b94.071854","name":"Set Presence Home","server":"ab8152ca.a9873","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"davy_homekit\",\"location_name\":\"home\"}","render_data":false,"mergecontext":"","x":760,"y":80,"wires":[[]]},{"id":"ea1f653e.dfd228","type":"api-call-service","z":"5ab71b94.071854","name":"Set Presence Away","server":"ab8152ca.a9873","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"davy_homekit\",\"location_name\":\"away\"}","mergecontext":"","x":750,"y":140,"wires":[[]]},{"id":"9f6f4648.a4b128","type":"debug","z":"5ab71b94.071854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":380,"wires":[]},{"id":"ab8152ca.a9873","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open"}]
