packages/light/Node-RED-Flow/Node-RED-Flow
[{"id":"8aa25484.a914a8","type":"tab","label":"Light","disabled":false,"info":""},{"id":"ee53a6a7.1882b8","type":"switch","z":"8aa25484.a914a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":180,"wires":[["2108db76.a8d444","46805ac3.87e434"],["46805ac3.87e434"]]},{"id":"2108db76.a8d444","type":"api-current-state","z":"8aa25484.a914a8","name":"Already On","server":"ab8152ca.a9873","halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.fibaro_hallway_level","state_type":"str","x":670,"y":100,"wires":[["a1ae0353.b4bf4"]]},{"id":"46805ac3.87e434","type":"stoptimer","z":"8aa25484.a914a8","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"5min","x":650,"y":160,"wires":[["dda385f6.2dfb58"],[]]},{"id":"a1ae0353.b4bf4","type":"api-call-service","z":"8aa25484.a914a8","name":"ON","server":"ab8152ca.a9873","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.fibaro_hallway_level\"}","render_data":false,"mergecontext":"","x":830,"y":100,"wires":[[]]},{"id":"dda385f6.2dfb58","type":"api-call-service","z":"8aa25484.a914a8","name":"OFF","server":"ab8152ca.a9873","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.fibaro_hallway_level\"}","render_data":false,"mergecontext":"","x":790,"y":160,"wires":[[]]},{"id":"e61e48ef.3708e8","type":"comment","z":"8aa25484.a914a8","name":"Hallway Motion Light","info":"","x":140,"y":40,"wires":[]},{"id":"f963b1b2.460e6","type":"server-state-changed","z":"8aa25484.a914a8","name":"Homekit Motion","server":"ab8152ca.a9873","entityidfilter":"input_boolean.homekit_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","x":120,"y":260,"wires":[[]]},{"id":"b896c018.8c5fb","type":"time-range-switch","z":"8aa25484.a914a8","name":"Is evening?","lat":"51.10759","lon":"4.28894","startTime":"dusk","endTime":"dawn","startOffset":"-60","endOffset":"+60","x":290,"y":200,"wires":[["ee53a6a7.1882b8"],[]]},{"id":"a31e91f7.03545","type":"server-state-changed","z":"8aa25484.a914a8","name":"Arrive at home","server":"ab8152ca.a9873","entityidfilter":"device_tracker.davy_homekit","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is_not","x":120,"y":120,"wires":[[]]},{"id":"ea43c594.240dc8","type":"time-range-switch","z":"8aa25484.a914a8","name":"Is evening?","lat":"51.10759","lon":"4.28894","startTime":"dusk","endTime":"dawn","startOffset":"-60","endOffset":0,"x":290,"y":100,"wires":[["2108db76.a8d444","46805ac3.87e434"],[]]},{"id":"b6fd0932.4d6318","type":"server-state-changed","z":"8aa25484.a914a8","name":"Hallway Motion","server":"ab8152ca.a9873","entityidfilter":"binary_sensor.motion_hallway","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","x":120,"y":200,"wires":[["b896c018.8c5fb"]]},{"id":"ab8152ca.a9873","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open"}]
