nodered-flows/IBMi-Flow
[{"id":"d9aac738.8d26e8","type":"tab","label":"IBMi - Tasks","disabled":false,"info":""},{"id":"e3914de0.8ba8f","type":"inject","z":"d9aac738.8d26e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":140,"wires":[["54743ecf.a4f0a"]]},{"id":"e3e5c50c.628298","type":"mqtt out","z":"d9aac738.8d26e8","name":"homeassistant/sensor/","topic":"","qos":"","retain":"","broker":"f0fc41f2.54276","x":1280,"y":540,"wires":[]},{"id":"ffd82f6d.3778","type":"split","z":"d9aac738.8d26e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"key","x":830,"y":260,"wires":[["74d1ec85.aad514"]]},{"id":"74d1ec85.aad514","type":"change","z":"d9aac738.8d26e8","name":"","rules":[{"t":"move","p":"payload.TASK_ID","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":300,"wires":[["a6fb0b2a.f177e8"]]},{"id":"a6fb0b2a.f177e8","type":"function","z":"d9aac738.8d26e8","name":"Set Topic","func":"// { \"state\" : \"ON\" , \"test\" : \"noise\" } topic:homeassistant/sensor/task_3/state\nvar task_id = msg.topic\nvar msg = { topic: \"homeassistant/sensor/task_\" + task_id + \"/config\" };\nmsg.payload = {\"name\": \"task_\" + task_id, \"state_topic\": \"homeassistant/sensor/\" + \"task_\" + task_id + \"/state\", val_tpl: \"{{ value_json.state }}\", json_attr : \"descr, enddes, startdate, enddate, owner\"  }\nmsg.payload.entity_id = \"task_\" + task_id; \nreturn msg;\n\n","outputs":1,"noerr":0,"x":1120,"y":400,"wires":[["96f1eb84.f22c98"]]},{"id":"54743ecf.a4f0a","type":"http request","z":"d9aac738.8d26e8","name":"","method":"GET","ret":"obj","url":"http://192.168.1.185:8081/","tls":"","x":350,"y":140,"wires":[["e68febf0.59cd88"]]},{"id":"4cab57b7.59ec38","type":"mqtt out","z":"d9aac738.8d26e8","name":"homeassistant/sensor/","topic":"","qos":"","retain":"","broker":"f0fc41f2.54276","x":1100,"y":640,"wires":[]},{"id":"796ce1ed.1dc46","type":"split","z":"d9aac738.8d26e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"key","x":950,"y":440,"wires":[["38438a1b.d009e6"]]},{"id":"38438a1b.d009e6","type":"change","z":"d9aac738.8d26e8","name":"","rules":[{"t":"move","p":"payload.TASK_ID","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":540,"wires":[["9d269fb8.7683"]]},{"id":"9d269fb8.7683","type":"function","z":"d9aac738.8d26e8","name":"Set Topic","func":"// { \"state\" : \"ON\" , \"test\" : \"noise\" } topic:homeassistant/sensor/task_3/state\nvar task_id = msg.topic\nvar task_descr = msg.payload.DESCR;\nvar task_enddes = msg.payload.ENDDES;\nvar task_state = msg.payload.STATE;\nvar task_start = msg.payload.STARTDATE;\nvar task_end = msg.payload.ENDDATE;\nvar task_owner = msg.payload.OWNER;\nvar msg = { topic: \"homeassistant/sensor/task_\" + task_id + \"/state\" };\nmsg.payload = {\"descr\": task_descr, \"enddes\": task_enddes, \"state\": task_state, \"enddate\": task_end, \"startdate\": task_start, \"owner\": task_owner }\nreturn msg;\n\n","outputs":1,"noerr":0,"x":900,"y":640,"wires":[["4cab57b7.59ec38"]]},{"id":"e68febf0.59cd88","type":"stoptimer","z":"d9aac738.8d26e8","duration":"5","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":560,"y":140,"wires":[["ffd82f6d.3778","a274147.537abe8","2f56056e.59a4ea"],[]]},{"id":"96f1eb84.f22c98","type":"switch","z":"d9aac738.8d26e8","name":"","property":"msg.topic","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1230,"y":460,"wires":[["e3e5c50c.628298"]]},{"id":"f5ab8bc8.07a368","type":"catch","z":"d9aac738.8d26e8","name":"","scope":null,"x":400,"y":380,"wires":[["f8e72cbb.4eb7c"]]},{"id":"cbbbd4a4.bccfc8","type":"function","z":"d9aac738.8d26e8","name":"STOP","func":"var count=global.get('count') || 0;\ncount+=1;\nglobal.set('count', count);\nmsg.count = count;\nmsg.payload = \"STOP\"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":220,"wires":[["e68febf0.59cd88","ac30d50c.5df248"]]},{"id":"f8e72cbb.4eb7c","type":"stoptimer","z":"d9aac738.8d26e8","duration":"1","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":480,"y":300,"wires":[["cbbbd4a4.bccfc8"],[]]},{"id":"a274147.537abe8","type":"stoptimer","z":"d9aac738.8d26e8","duration":"5","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":780,"y":340,"wires":[["796ce1ed.1dc46"],[]]},{"id":"4f9f6835.a41538","type":"e-mail","z":"d9aac738.8d26e8","server":"smtp.gmail.com","port":"465","secure":true,"name":"davy@glerums.be","dname":"","x":1190,"y":160,"wires":[]},{"id":"ac30d50c.5df248","type":"function","z":"d9aac738.8d26e8","name":"send mail","func":"var count=global.get('count');\n\nif (count===1)//test exists\n{\n  msg.payload = \"there was en error in the HTTP request to IBMi\"\n  msg.topic = \"TASKS - NodeRed flow ERROR\"\n  return msg;\n}\n\n","outputs":1,"noerr":0,"x":960,"y":200,"wires":[["4f9f6835.a41538"]]},{"id":"2f56056e.59a4ea","type":"function","z":"d9aac738.8d26e8","name":"RESET","func":"var count=global.get('count');\nif (count!==0)//test exists\n{\n  count=0;\n  global.set('count', count);\n  msg.payload = \"HTTP request to IBMi works\"\n  msg.topic = \"TASKS - Errors Cleared\"\n  return msg;\n}\n","outputs":1,"noerr":0,"x":960,"y":140,"wires":[["4f9f6835.a41538"]]},{"id":"e775fa51.0efc38","type":"comment","z":"d9aac738.8d26e8","name":"Overview of the RPG task program on iSereies","info":"","x":230,"y":60,"wires":[]},{"id":"7dff598c.110618","type":"function","z":"d9aac738.8d26e8","name":"Task - for loop","func":"var m_out=[]; //rray for message objects\nvar topic=\"homeassistant/sensor/task_\"\nfor (i=1;i<10;i++){\n    topic=topic+i+\"/config\"; //add count to message\n    var newmsg={topic:topic,payload:\"\"}\n    m_out.push(newmsg);\n    topic=\"homeassistant/sensor/task_\"\n}\nreturn[m_out];","outputs":1,"noerr":0,"x":800,"y":740,"wires":[["4cab57b7.59ec38"]]},{"id":"e066a112.f51d2","type":"inject","z":"d9aac738.8d26e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":740,"wires":[["7dff598c.110618"]]},{"id":"90274585.4bcee8","type":"function","z":"d9aac738.8d26e8","name":"Task - for loop","func":"var m_out=[]; //rray for message objects\nvar topic=\"homeassistant/sensor/task_\"\nfor (i=1;i<10;i++){\n    topic=topic+i+\"/config\"; //add count to message\n    var newmsg={topic:topic,payload:\"\"}\n    m_out.push(newmsg);\n    topic=\"homeassistant/sensor/task_\"\n}\nreturn[m_out];","outputs":1,"noerr":0,"x":560,"y":880,"wires":[["2870b82e.f56908"]]},{"id":"2870b82e.f56908","type":"debug","z":"d9aac738.8d26e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":880,"wires":[]},{"id":"60bc83b2.7587ec","type":"inject","z":"d9aac738.8d26e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":880,"wires":[["90274585.4bcee8"]]},{"id":"d3f0f936.a5dca8","type":"api-current-state","z":"d9aac738.8d26e8","name":"test","server":"ab8152ca.a9873","halt_if":"undefined","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"override_payload":false,"override_data":true,"entity_id":"","state_type":"str","x":520,"y":1060,"wires":[["2870b82e.f56908"]]},{"id":"746a3d8e.d7d2f4","type":"function","z":"d9aac738.8d26e8","name":"Entity","func":"mpayload=\"sensor.task_2\"\nmsg.payload = { \"entity_id\":mpayload};\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":980,"wires":[["d3f0f936.a5dca8"]]},{"id":"e19b328c.21b09","type":"inject","z":"d9aac738.8d26e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":980,"wires":[["746a3d8e.d7d2f4"]]},{"id":"f0fc41f2.54276","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.162","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ab8152ca.a9873","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open"}]
