nodered-flows/test.json
[
    {
        "id": "22eedb7.7211624",
        "type": "tab",
        "label": "test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7c70fe36.a7fcf",
        "type": "api-call-service",
        "z": "22eedb7.7211624",
        "name": "light desk",
        "server": "ab8152ca.a9873",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.hue_desk\"}",
        "mergecontext": "",
        "x": 540,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b429086b.954d08",
        "type": "inject",
        "z": "22eedb7.7211624",
        "name": "",
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "2747654a.00561a",
                "7c70fe36.a7fcf"
            ]
        ]
    },
    {
        "id": "2747654a.00561a",
        "type": "wemo out",
        "z": "22eedb7.7211624",
        "name": "TV Lights",
        "device": "b60618f2.47b348",
        "label": "Wemo_Livingroom",
        "x": 450,
        "y": 340,
        "wires": []
    },
    {
        "id": "932e9723.0c2358",
        "type": "inject",
        "z": "22eedb7.7211624",
        "name": "",
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 220,
        "wires": [
            [
                "2747654a.00561a",
                "944e3c42.c06b8"
            ]
        ]
    },
    {
        "id": "944e3c42.c06b8",
        "type": "api-call-service",
        "z": "22eedb7.7211624",
        "name": "light desk",
        "server": "ab8152ca.a9873",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.hue_desk\"}",
        "mergecontext": "",
        "x": 540,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
<<<<<<< HEAD
        "id": "cb7855ec.361638",
        "type": "hue-motion",
        "z": "22eedb7.7211624",
        "name": "Hallway Motion",
        "bridge": "882193f7.4dded",
        "sensorid": "21",
        "x": 140,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
=======
>>>>>>> 9b73d0b1106fa59af2c9d7d42654e8acbeed5b7f
        "id": "83b15757.08c968",
        "type": "hue-light",
        "z": "22eedb7.7211624",
        "name": "Hue Desk",
        "bridge": "882193f7.4dded",
        "lightid": "3",
        "colornamer": true,
        "x": 380,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
<<<<<<< HEAD
        "id": "cdf8aa39.1b80f8",
        "type": "hue-temperature",
        "z": "22eedb7.7211624",
        "name": "Hallway Temp",
        "bridge": "882193f7.4dded",
        "sensorid": "20",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "5f336a8f.b28964",
                "c14bb3e8.40ee"
            ]
        ]
    },
    {
        "id": "5f336a8f.b28964",
        "type": "mqtt out",
        "z": "22eedb7.7211624",
        "name": "iot-glerums",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "f0fc41f2.54276",
        "x": 730,
        "y": 520,
        "wires": []
    },
    {
        "id": "c14bb3e8.40ee",
        "type": "debug",
        "z": "22eedb7.7211624",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 740,
        "y": 440,
        "wires": []
    },
    {
=======
>>>>>>> 9b73d0b1106fa59af2c9d7d42654e8acbeed5b7f
        "id": "d958f6e0.171178",
        "type": "template",
        "z": "22eedb7.7211624",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{ \"data\": { \"entity_id\" : \"input_number.slider1\", \"value\" : {{payload}} } }",
        "output": "json",
        "x": 560,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
<<<<<<< HEAD
        "id": "d9de2dca.e433",
        "type": "hue-temperature",
        "z": "22eedb7.7211624",
        "name": "WC Upstairs",
        "bridge": "882193f7.4dded",
        "sensorid": "14",
        "x": 140,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2625ef0f.c7caf",
        "type": "hue-temperature",
        "z": "22eedb7.7211624",
        "name": "WC Downstairs",
        "bridge": "882193f7.4dded",
        "sensorid": "17",
        "x": 160,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
=======
>>>>>>> 9b73d0b1106fa59af2c9d7d42654e8acbeed5b7f
        "id": "ab8152ca.a9873",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": true
    },
    {
        "id": "b60618f2.47b348",
        "type": "wemo-dev",
        "z": "",
        "device": "221623K12008B0",
        "name": "Wemo_Livingroom"
    },
    {
        "id": "882193f7.4dded",
        "type": "hue-bridge",
        "z": "",
        "name": "Philips hue",
        "bridge": "192.168.1.2",
        "key": "dU3UVWW7FpMG-BxaSLxTJVsIBNerAkh0pVDMk3VA",
        "interval": "3000"
<<<<<<< HEAD
    },
    {
        "id": "f0fc41f2.54276",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.1.162",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
=======
>>>>>>> 9b73d0b1106fa59af2c9d7d42654e8acbeed5b7f
    }
]
