packages/alarm_system/Node-RED-Flow/Node-RED-Flow
[{"id":"a944462f.7ef998","type":"tab","label":"House Alarm","disabled":false,"info":""},{"id":"7d1f9f84.e2575","type":"trigger-state","z":"a944462f.7ef998","name":"Alarm Control Panel","server":"ab8152ca.a9873","entityid":"alarm_control_panel.ha_alarm","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":200,"y":160,"wires":[["648f5d44.b49894"],[]]},{"id":"648f5d44.b49894","type":"switch","z":"a944462f.7ef998","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"armed_home","vt":"str"},{"t":"eq","v":"armed_away","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":160,"wires":[["e1db3209.550b6"],["1aae5da3.c28942"]]},{"id":"2b8d4f1.e8670b","type":"api-call-service","z":"a944462f.7ef998","name":"TTS","server":"ab8152ca.a9873","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"Alarm home mode is armed\"}","render_data":false,"mergecontext":"","x":570,"y":140,"wires":[[]]},{"id":"e1db3209.550b6","type":"api-call-service","z":"a944462f.7ef998","name":"Notify Alarm Home","server":"ab8152ca.a9873","service_domain":"notify","service":"notify","data":"{\"title\": \"HA Alarm\", \"message\": \"Alarm home mode is armed\"}","render_data":false,"mergecontext":"","x":610,"y":80,"wires":[[]]},{"id":"2a1b9193.c5f22e","type":"api-call-service","z":"a944462f.7ef998","name":"TTS","server":"ab8152ca.a9873","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"Alarm away mode is armed\"}","render_data":false,"mergecontext":"","x":570,"y":260,"wires":[[]]},{"id":"1aae5da3.c28942","type":"api-call-service","z":"a944462f.7ef998","name":"Notify Alarm Away","server":"ab8152ca.a9873","service_domain":"notify","service":"notify","data":"{\"title\": \"HA Alarm\", \"message\": \"Alarm away mode is armed\"}","render_data":false,"mergecontext":"","x":610,"y":200,"wires":[[]]},{"id":"f1dcb947.76ef38","type":"comment","z":"a944462f.7ef998","name":"Alarm Armed Notifications","info":"","x":150,"y":80,"wires":[]},{"id":"ecb3b636.f722e8","type":"api-current-state","z":"a944462f.7ef998","name":"Alarm Triggers","server":"ab8152ca.a9873","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"alarm_control_panel.ha_alarm","state_type":"str","x":460,"y":600,"wires":[["86e27cd.450018"]]},{"id":"86e27cd.450018","type":"switch","z":"a944462f.7ef998","name":"Armed Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"armed_away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":600,"wires":[["a01e1e89.e7dc1","48c2f1c2.1c763"]]},{"id":"a01e1e89.e7dc1","type":"api-call-service","z":"a944462f.7ef998","name":"Trigger Alarm","server":"ab8152ca.a9873","service_domain":"alarm_control_panel","service":"alarm_trigger","data":"{\"entity_id\":\"alarm_control_panel.ha_alarm\"}","render_data":false,"mergecontext":"","x":940,"y":620,"wires":[[]]},{"id":"48c2f1c2.1c763","type":"api-call-service","z":"a944462f.7ef998","name":"Notify","server":"ab8152ca.a9873","service_domain":"notify","service":"notify","data":"{\"title\": \"HA Alarm\", \"message\": \"Alarm has been Triggered\"}","render_data":false,"mergecontext":"","x":910,"y":700,"wires":[[]]},{"id":"38d769a0.df0db6","type":"switch","z":"a944462f.7ef998","name":"Armed Home","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"armed_home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":660,"wires":[["a01e1e89.e7dc1","48c2f1c2.1c763"]]},{"id":"6a32ba34.e401e4","type":"api-current-state","z":"a944462f.7ef998","name":"Alarm Triggers","server":"ab8152ca.a9873","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"alarm_control_panel.ha_alarm","state_type":"str","x":460,"y":660,"wires":[["38d769a0.df0db6"]]},{"id":"681dba76.886354","type":"api-call-service","z":"a944462f.7ef998","name":"TTS","server":"ab8152ca.a9873","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"Alarm triggered you have 60 seconds to reset or siren will sound!\"}","render_data":false,"mergecontext":"","x":910,"y":540,"wires":[[]]},{"id":"ad33996d.975358","type":"trigger-state","z":"a944462f.7ef998","name":"Test Motion","server":"ab8152ca.a9873","entityid":"binary_sensor.motion_tester","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"0chq92m7deeo","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":170,"y":420,"wires":[["ecb3b636.f722e8"],[]]},{"id":"c744ac7b.83cf1","type":"trigger-state","z":"a944462f.7ef998","name":"Hallway Motion","server":"ab8152ca.a9873","entityid":"binary_sensor.motion_hallway","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"0chq92m7deeo","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":180,"y":480,"wires":[["ecb3b636.f722e8"],[]]},{"id":"a8ccb3a3.9ea63","type":"trigger-state","z":"a944462f.7ef998","name":"Kitchen Motion","server":"ab8152ca.a9873","entityid":"binary_sensor.motion_kitchen","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"0chq92m7deeo","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":180,"y":540,"wires":[["ecb3b636.f722e8"],[]]},{"id":"6188c496.f4d75c","type":"trigger-state","z":"a944462f.7ef998","name":"WC1 Motion","server":"ab8152ca.a9873","entityid":"binary_sensor.motion_wc1","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"0chq92m7deeo","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":170,"y":600,"wires":[["ecb3b636.f722e8"],[]]},{"id":"b8684d90.30b39","type":"trigger-state","z":"a944462f.7ef998","name":"WC2 Motion","server":"ab8152ca.a9873","entityid":"binary_sensor.motion_wc2","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"0chq92m7deeo","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":170,"y":660,"wires":[["ecb3b636.f722e8"],[]]},{"id":"ffb89f22.3961a","type":"comment","z":"a944462f.7ef998","name":"Alarm Triggers","info":"","x":120,"y":360,"wires":[]},{"id":"1e848f60.a23d91","type":"comment","z":"a944462f.7ef998","name":"Smoke Alarm","info":"","x":110,"y":1000,"wires":[]},{"id":"eb2abec2.f33d4","type":"trigger-state","z":"a944462f.7ef998","name":"Downstairs Smoke","server":"ab8152ca.a9873","entityid":"binary_sensor.fibaro_smoke_sensor_sensor","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":190,"y":1060,"wires":[["974b2074.b6e4b"],[]]},{"id":"37f29585.81cb4a","type":"api-call-service","z":"a944462f.7ef998","name":"TTS","server":"ab8152ca.a9873","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"Alarm triggered you have 60 seconds to reset or siren will sound!\"}","render_data":false,"mergecontext":"","x":850,"y":1040,"wires":[[]]},{"id":"9a9ef48c.f2c458","type":"api-call-service","z":"a944462f.7ef998","name":"Notify","server":"ab8152ca.a9873","service_domain":"notify","service":"pushbullet","data":"{\"title\": \"HA Alarm\", \"message\": \"Alarm has been Triggered\"}","render_data":false,"mergecontext":"","x":850,"y":1100,"wires":[[]]},{"id":"974b2074.b6e4b","type":"api-current-state","z":"a944462f.7ef998","name":"Anyone Home?","server":"ab8152ca.a9873","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"group.people","state_type":"str","x":460,"y":1060,"wires":[["cd879d80.d717c"]]},{"id":"cd879d80.d717c","type":"switch","z":"a944462f.7ef998","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":1060,"wires":[["37f29585.81cb4a"],["9a9ef48c.f2c458"]]},{"id":"ab8152ca.a9873","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open"}]
