packages/speech/Node-RED-Flow/Node-RED-Flow
[{"id":"378a672c.aa09c8","type":"tab","label":"Speech","disabled":false,"info":""},{"id":"3a2011c6.11bd0e","type":"api-call-service","z":"378a672c.aa09c8","name":"","server":"ab8152ca.a9873","service_domain":"script","service":"speech_engine","data":"","render_data":false,"mergecontext":"","x":830,"y":260,"wires":[[]]},{"id":"b3b6b006.a4c2","type":"template","z":"378a672c.aa09c8","name":"Announcement: 1","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"data\": {\"{{{payload}}}\":1} }","output":"json","x":510,"y":220,"wires":[["3a2011c6.11bd0e"]]},{"id":"ee8a28ce.4b11a8","type":"inject","z":"378a672c.aa09c8","name":"","topic":"","payload":"call_dark_outside","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":160,"wires":[["b3b6b006.a4c2"]]},{"id":"8e2359a6.b1bc38","type":"inject","z":"378a672c.aa09c8","name":"","topic":"","payload":"call_inside_weather","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":200,"wires":[["b3b6b006.a4c2"]]},{"id":"80174fc1.fc066","type":"inject","z":"378a672c.aa09c8","name":"","topic":"","payload":"call_outside_weather","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":240,"wires":[["b3b6b006.a4c2"]]},{"id":"7fa98ee3.bb95e","type":"inject","z":"378a672c.aa09c8","name":"","topic":"","payload":"call_lights_status","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":280,"wires":[["b3b6b006.a4c2"]]},{"id":"8ea1e6e2.b00e18","type":"inject","z":"378a672c.aa09c8","name":"","topic":"","payload":"call_responsibilities","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":120,"wires":[["b3b6b006.a4c2"]]},{"id":"c812e302.7c336","type":"api-call-service","z":"378a672c.aa09c8","name":"","server":"ab8152ca.a9873","service_domain":"tts","service":"amazon_polly_say","data":"","render_data":false,"mergecontext":"","x":710,"y":580,"wires":[["675bff05.f26f5"]]},{"id":"16786c34.e09ce4","type":"inject","z":"378a672c.aa09c8","name":"","topic":"","payload":"Good evening.                Inside the house, it is 23 degrees with around unknown percent humidity.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":580,"wires":[["f38f045b.d839a8"]]},{"id":"f38f045b.d839a8","type":"template","z":"378a672c.aa09c8","name":"Format MSG","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"data\":{\"message\":\"{{{payload}}}\",\"entity_id\":\"media_player.livingroom\",\"cache\":\"true\"}}","output":"json","x":470,"y":580,"wires":[["c812e302.7c336"]]},{"id":"675bff05.f26f5","type":"debug","z":"378a672c.aa09c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":620,"wires":[]},{"id":"a9ccc47a.871dd8","type":"mqtt in","z":"378a672c.aa09c8","name":"","topic":"polly/lastmsg","qos":"2","broker":"f0fc41f2.54276","x":90,"y":800,"wires":[["7c3d7569.b4653c"]]},{"id":"ede9f6d4.c8db78","type":"api-call-service","z":"378a672c.aa09c8","name":"","server":"ab8152ca.a9873","service_domain":"media_player","service":"alexa_tts","data":"","render_data":false,"mergecontext":"","x":720,"y":660,"wires":[["675bff05.f26f5"]]},{"id":"d6cbae2a.e189e","type":"template","z":"378a672c.aa09c8","name":"Format MSG","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"data\":{\"message\":\"{{{payload}}}\",\"entity_id\":\"media_player.davys_echo_dot\"}}","output":"json","x":270,"y":660,"wires":[["e513fe6b.ba5e9"]]},{"id":"1e6eee4b.7ae732","type":"function","z":"378a672c.aa09c8","name":"Strip Line Breaks","func":"newmsg = {};\nvar string = msg.payload.replace(/\\n/g, \" \");\nnewmsg.payload = string;\nreturn newmsg;","outputs":1,"noerr":0,"x":350,"y":740,"wires":[["d6cbae2a.e189e"]]},{"id":"7c3d7569.b4653c","type":"switch","z":"378a672c.aa09c8","name":"Not Empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":740,"wires":[["1e6eee4b.7ae732"]]},{"id":"d260e182.a1c5","type":"template","z":"378a672c.aa09c8","name":"Announcement: 0","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"data\": {\"{{{payload}}}\":1,\"call_no_announcement\":1} }","output":"json","x":510,"y":320,"wires":[["3a2011c6.11bd0e"]]},{"id":"e72b625c.77113","type":"inject","z":"378a672c.aa09c8","name":"","topic":"","payload":"call_dark_outside","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":380,"wires":[["d260e182.a1c5"]]},{"id":"aac9693f.5b1788","type":"inject","z":"378a672c.aa09c8","name":"","topic":"","payload":"call_inside_weather","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":420,"wires":[["d260e182.a1c5"]]},{"id":"4778094.26e2cf8","type":"inject","z":"378a672c.aa09c8","name":"","topic":"","payload":"call_outside_weather","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":460,"wires":[["d260e182.a1c5"]]},{"id":"3840af2e.c3e3","type":"inject","z":"378a672c.aa09c8","name":"","topic":"","payload":"call_lights_status","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":500,"wires":[["d260e182.a1c5"]]},{"id":"a95f26e.3af18d8","type":"inject","z":"378a672c.aa09c8","name":"","topic":"","payload":"call_responsibilities","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":340,"wires":[["d260e182.a1c5"]]},{"id":"e513fe6b.ba5e9","type":"api-current-state","z":"378a672c.aa09c8","name":"speech_notifications","server":"ab8152ca.a9873","halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"override_payload":false,"override_data":false,"entity_id":"input_boolean.speech_notifications","state_type":"habool","x":460,"y":660,"wires":[["ede9f6d4.c8db78"]]},{"id":"ab8152ca.a9873","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open"},{"id":"f0fc41f2.54276","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.162","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
